<launch>
  <arg name="launch_roswww" default="true" />
  <arg name="ip_address"   default="127.0.0.1" />
  <arg name="roswww_port"  default="8000" />
  <arg name="video_port"   default="9090" />
  <arg name="websock_port" default="8080" />

  <include file="$(find roswww)/launch/roswww.launch"
           if="$(arg launch_roswww)">
    <arg name="port" value="$(arg roswww_port)" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="$(arg video_port)" />
  </include>
  <node pkg="web_video_server" type="web_video_server"
        name="web_video_server"
        output="screen"
        clear_params="true">
   <param name="port" value="$(arg websock_port)" />
   <param name="address" value="$(arg ip_address)" />
  </node>
  <node pkg="rwt_image_view" type="rosbag_record_server.py"
        name="rosbag_record_server"
        output="screen"
        clear_params="true">
  </node>
</launch>
